[submodule "app-gps-manager-backend"]
	path = app-gps-manager-backend
	url = https://github.com/betancesdar/app-gps-manager-backend.git
[submodule "gps-platform-frontend"]
	path = gps-platform-frontend
	url = https://github.com/betancesdar/gps-platform-frontend.git
